body{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
h1{
    color: rgb(42, 99, 165);
}
a{
    color: blueviolet;
}
a:hover{
    color: rgb(128, 0, 0);
}
ul>li{
    font-weight: bold;
}
h1+p{
    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
}
p::first-letter{
    font-size: larger;
    color: rgb(224, 241, 63);
}
ul li:nth-child(3){
    background-color: rgb(25, 28, 250);
}